---
import Layout from "../layouts/Layout.astro";
import Carousel from "../components/Carousel.astro";
import Services from "../components/Services.astro";
---

<Layout title="This is title">
  <!-- Spinner Start -->
  <!-- <div
      id="spinner"
      class="show w-100 vh-100 bg-white position-fixed translate-middle top-50 start-50 d-flex align-items-center justify-content-center"
    >
      <div class="spinner-grow text-primary" role="status"></div>
    </div> -->
  <!-- Spinner End -->

  <!-- Modal Search Start -->

  <!-- Modal Search End -->

  <!-- Carousel Start -->
  <Carousel />

  <!-- Carousel End -->

  <!-- Services Start -->

  <Services />

  <!-- Services End -->

  <!-- About Start -->

  <!-- Modal Video -->

  <!-- About End -->

  <!-- Appointment Start -->
  <!-- Appointment End -->

  <!-- Gallery Start -->
  <!-- gallery End -->

  <!-- Pricing Start -->
  <!-- Pricing End -->

  <!-- Team Start -->
  <!-- Team End -->

  <!-- Testimonial Start -->
  <!-- Testimonial End -->

  <!-- Contact Start -->
  <!-- Contact End -->

  <!-- Footer Start -->
  <!-- Footer End -->

  <!-- Copyright Start -->
  <!-- Copyright End -->

  <!-- Back to Top -->
</Layout>
