---

---

<div class="container-fluid footer py-5">
    <div class="container py-5">
      <div class="row g-5">
        <div class="col-md-6 col-lg-6 col-xl-3">
          <div class="footer-item d-flex flex-column">
            <h4 class="mb-4 text-white">Site Links</h4>
            <a href="/"><i class="fas fa-angle-right me-2"></i> Home</a>
            <a href="/about-us"><i class="fas fa-angle-right me-2"></i> About Us</a>
            <a href="/products"><i class="fas fa-angle-right me-2"></i> Products</a>
            <a href="/inquiry"
              ><i class="fas fa-angle-right me-2"></i> Inquiry</a
            >
            <a href="/contact"
              ><i class="fas fa-angle-right me-2"></i> Contact Us</a
            >
            
            
          </div>
        </div>
        <div class="col-md-6 col-lg-6 col-xl-3">
          <div class="footer-item d-flex flex-column">
            <h4 class="mb-4 text-white">Schedule</h4>
            <p class="text-muted mb-0">
              Monday: <span class="text-white"> 09:00 am – 10:00 pm</span>
            </p>
            <p class="text-muted mb-0">
              Saturday: <span class="text-white"> 09:00 am – 08:00 pm</span>
            </p>
            <p class="text-muted mb-0">
              Sunday: <span class="text-white"> 09:00 am – 05:00 pm</span>
            </p>
            <h4 class="my-4 text-white">Address</h4>
            <p class="mb-0">
              <i class="fas fa-map-marker-alt text-secondary me-2"></i> Shop No, 1,2, Plot No.: 1401 A6, Somani Chokdi, GIDC Ankleshwar - 393002. Dist. Bharuch (Gujarat) 
            </p>
          </div>
        </div>
        <div class="col-md-6 col-lg-6 col-xl-3">
          <div class="footer-item d-flex flex-column">
            <h4 class="mb-4 text-white">Follow Us</h4>
            <a href=""><i class="fas fa-angle-right me-2"></i> Faceboock</a>
            <a href=""><i class="fas fa-angle-right me-2"></i> Instagram</a>
            <a href=""><i class="fas fa-angle-right me-2"></i> Twitter</a>
            <h4 class="my-4 text-white">Contact Us</h4>
            <p class="mb-0">
              <i class="fas fa-envelope text-secondary me-2"></i>
              Phone : 91730 91534
            </p>
            <p class="mb-0">
              <i class="fas fa-phone text-secondary me-2"></i> 
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
